.sidebar {
  position: fixed;
  width: 240px;
  height: 100%;
  left: 0;
  top: 0;
  background: #FFFFFF;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #f0f0f0;
  }
  