<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.IntroductionMapper">

    <insert id="saveIntroduction" useGeneratedKeys="true" keyProperty="id">
        insert into introduction (user_id, title)
        values (#{userId}, #{title})
    </insert>

    <insert id="saveSections" useGeneratedKeys="true" keyProperty="param2.id">
        insert into section (introduction_id, sub_title, content)
        values
        <foreach collection="sections" item="section" separator=",">
            (#{introductionId}, #{section.subTitle}, #{section.content})
        </foreach>
    </insert>

    <update id="updateIntroduction">
        update introduction
        set title=#{updateParam.title}
        where id = #{id}
    </update>

    <update id="updateSection">
        update section
        set sub_title=#{updateParam.subTitle},
        content=#{updateParam.content}
        where id = #{id}
    </update>

    <delete id="deleteIntroduction">
        delete from introduction
        where id = #{id}
    </delete>

    <delete id="deleteSection">
        delete from section
        where id = #{id}
    </delete>

    <select id="findByIntroductionId" resultType="Introduction">
        select id, user_id, title
        from introduction
        where id = #{id}
    </select>

    <select id="findAllIntroduction" resultType="Introduction">
        select id, user_id, title
        from introduction
        where user_id = #{userId}
    </select>

    <select id="findAllSection" resultType="Section">
        select id, introduction_id, sub_title, content
        from section
        where introduction_id = #{introductionId}
    </select>

</mapper>