<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.education.repository.EducationMapper">

    <insert id="saveEducation" useGeneratedKeys="true" keyProperty="id">
        insert into education (user_id, university_name, degree, major, start_date, graduate_date)
        values (#{userId}, #{universityName}, #{degree}, #{major}, #{startDate}, #{graduateDate})
    </insert>

    <update id="updateEducation">
        update education
        set university_name=#{updateParam.universityName},
            degree=#{updateParam.degree},
            major=#{updateParam.major},
            start_date=#{updateParam.startDate},
            graduate_date=#{updateParam.graduateDate}
        where id = #{id}
    </update>

    <delete id="deleteEducation">
        delete from education
        where id = #{id}
    </delete>

    <select id="findByEducationId" resultType="Education">
        select id, user_id, university_name, degree, major, start_date, graduate_date
        from education
        where id = #{id}
    </select>
    
</mapper>