<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.employment.repository.EmploymentMapper">

    <insert id="saveEmployment" useGeneratedKeys="true" keyProperty="id">
        insert into employment (user_id, company_name, position, department, start_date, end_date, achievement)
        values (#{userId}, #{companyName}, #{position}, #{department}, #{startDate}, #{endDate}, #{achievement})
    </insert>

    <update id="updateEmployment">
        update employment
        set company_name=#{updateParam.companyName},
            position=#{updateParam.position},
            department=#{updateParam.department},
            start_date=#{updateParam.startDate},
            end_date=#{updateParam.endDate},
            achievement=#{updateParam.achievement}
        where id = #{id}
    </update>

    <delete id="deleteEmployment">
        delete from employment
        where id = #{id}
    </delete>

    <select id="findByEmploymentId" resultType="Employment">
        select id, user_id, company_name, position, department, start_date, end_date, achievement
        from employment
        where id = #{id}
    </select>
    
</mapper>