.nav-container {
  display: flex;
  justify-content: space-between; /* 좌우 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  width: 1000px; /* 예시에서 설정한 전체 너비 */
  align-items: flex-start;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  /* margin: 0 100px; */
  /* align-items: center; */
}

nav a {
  text-decoration: none;
  color: inherit; 
  width: 200px;
  text-align: start;
}

nav a:hover {
  background-color: rgb(194, 232, 188);
  /* color: blue; */
}

nav a.active {
  color: blue;
  /* font-weight: bold; */
}

.isLogIn {
  display: flex;
  width: 200px;
}

.main-content {
  flex: 1; /* 나머지 공간을 차지하도록 */
  margin-left: 0px; /* Main 컴포넌트와의 간격 설정 */
}

.nav-container > .main-content {
  align-self: flex-start; /* 부모 요소에 맞춰 상단 정렬 */
}